<h1 class="govuk-heading-l">No results found</h1>
<p class="govuk-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</p>
<p class="govuk-body">
    Fusce rutrum ipsum at velit vehicula fermentum.
</p>
<p class="govuk-body">
    In nec nisi finibus, laoreet elit ac, efficitur diam, <a href="#" class="govuk-link">Cras non quam sodales</a> proin porttitor ligula a justo congue, eget fringilla massa venenatis.
</p>
