@page
@model IndexModel
@{
    ViewData["Title"] = "Start Page - GOV.UK";
}

<h1 data-testid="Index_HEADER_Service-Directory" class="govuk-heading-xl">Service Directory</h1>

<p data-testid="Index_PARAGRAPH_Main-Example" class="govuk-body-l">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in vulputate quam, at tempus mauris. Donec id
    nulla varius, elementum diam nec, feugiat diam. Etiam malesuada justo ac cursus pulvinar. Praesent laoreet tempus
    ante, at faucibus nisl ultrices vel. Etiam facilisis non mi at iaculis.
</p>

<ul data-testid="Index_LIST_Example" class="govuk-list govuk-list--bullet">
    <li data-testid="Index_LIST-ITEM_Example-One">In id lorem a odio vestibulum lobortis.</li>
    <li data-testid="Index_LIST-ITEM_Example-Two">In dignissim libero a ex porta, sit amet pellentesque tellus elementum.</li>
    <li data-testid="Index_LIST-ITEM_Example-Three">Praesent tristique arcu ac orci feugiat, eu fringilla massa tristique.</li>
    <li data-testid="Index_LIST-ITEM_Example-Four">Etiam ut augue eu orci semper maximus eu a neque.</li>
</ul>

<p data-testid="Index_PARAGRAPH_Secondary-Example" class="govuk-body">Orci varius natoque penatibus et magnis dis
    parturient.</p>

<a data-testid="Index_BUTTON_Start-Now" href="/Search" role="button" draggable="false" class="govuk-button govuk-button--start"
   data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
         viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
    </svg>
</a>