@page
@using ServiceDirectory.Domain.Service
@model ServiceDirectory.Presentation.Web.Pages.Results
@{
    ViewData["Title"] = $"Search Results - Page {Model.CurrentPage} of {Model.TotalPages} - GOV.UK";
}

@if (Model.LocationHasAtLeastOneService)
{
    <h1 class="govuk-heading-xl">Search results for @Model.Postcode</h1>
    <ul class="search-results">
        @foreach (Service service in Model.Services)
        {
            @await Html.PartialAsync("ResultsPartials/_ServiceSummary", service)
        }
    </ul>
    
    @if (Model.TotalPages > 1)
    {
        @await Html.PartialAsync("ResultsPartials/_Pagination")
    }
    
}
else
{
    @await Html.PartialAsync("ResultsPartials/_NoResults")
}
