@page
@model ServiceDirectory.Presentation.Web.Pages.Results
@{
    ViewData["Title"] = "Search Page - GOV.UK";
}

<h1 class="govuk-heading-xl">Placeholder</h1>

<ul class="govuk-list govuk-list--bullet">
    <li>POSTCODE = @Model.Location.Postcode</li>
    <li>LATITUDE = @Model.Location.Latitude</li>
    <li>LONGITUDE = @Model.Location.Longitude</li>
</ul>
