@page
@using ServiceDirectory.Domain.Service
@model ServiceDirectory.Presentation.Web.Pages.Results
@{
    ViewData["Title"] = "Results Page - GOV.UK";
}

@if (Model.LocationHasAtLeastOneService)
{
    <h1 class="govuk-heading-xl">Search results for @Model.Postcode</h1>
    <ul class="search-results">
        @foreach (Service service in Model.Services)
        {
            @await Html.PartialAsync("ResultsPartials/_ServiceSummary", service)
        }
    </ul>
    
    @if (Model.TotalPages > 1)
    {
        @if (Model.CurrentPage == 1)
        {
            @await Html.PartialAsync("ResultsPartials/Pagination/_FirstPage")
        }
        else if (Model.CurrentPage == Model.TotalPages)
        {
            @await Html.PartialAsync("ResultsPartials/Pagination/_LastPage")
        }
        else
        {
            @await Html.PartialAsync("ResultsPartials/Pagination/_MiddlePage")
        }
    }
    
}
else
{
    @await Html.PartialAsync("ResultsPartials/_NoResults")
}
