@page
@model ServiceDirectory.Presentation.Web.Pages.Search
@{
    ViewData["Title"] = "Search Page - GOV.UK";
}

<form method="post">
    <div class="govuk-form-group @(Model.Error ? "govuk-form-group--error" : "")">
        <h1 class="govuk-label-wrapper">
            <label data-testid="Search_LABEL_Primary" class="govuk-label govuk-label--l" for="event-name">
                Enter a Postcode
            </label>
        </h1>
        <div data-testid="Search_DIV_HINT_Primary" id="event-name-hint" class="govuk-hint">
            For example SW1A 2AA
        </div>
        @if (Model.Error)
        {
            <p data-testid="Search_PARAGRAPH_Error_Primary" id="event-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a valid postcode
            </p>
        }
        <input data-testid="Search_INPUT_Primary@(Model.Error ? "_Error" : "")" class="govuk-input @(Model.Error ? "govuk-input--error" : "")" 
               id="event-name" type="text" aria-describedby="event-name-hint event-name-error" asp-for="Postcode">
    </div>

    <button data-testid="Search_BUTTON_Search" type="submit" class="govuk-button" data-module="govuk-button">
        Search
    </button>
</form>